/* Loading Spinner */
.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #7fbf3f;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
}

.login-card {
    display: flex;
    width: 850px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

/* LEFT SIDE */
.login-left {
    width: 50%;
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 40px;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

.login-left h2 {
    color: #7fbf3f;
    margin-bottom: 10px;
}

.subtitle {
    display: block;
    margin-top: 10px;
    color: #ccc;
}

/* RIGHT SIDE */
.login-right {
    width: 50%;
    background: #ffffff;
    padding: 40px;
}

.login-right h3 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background: #7fbf3f;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-login:hover {
    background: #6aa832;
}