.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
}

.login-card {
    display: flex;
    width: 850px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

/* LEFT SIDE */
.login-left {
    width: 50%;
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 40px;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

.login-left h2 {
    color: #7fbf3f;
    margin-bottom: 10px;
}

.subtitle {
    display: block;
    margin-top: 10px;
    color: #ccc;
}

/* RIGHT SIDE */
.login-right {
    width: 50%;
    background: #ffffff;
    padding: 40px;
}

.login-right h3 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background: #7fbf3f;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-login:hover {
    background: #6aa832;
}